# =========================
# Virtual env
# =========================
venv/
.env

# =========================
# Python cache
# =========================
__pycache__/
*.pyc

# =========================
# Models (CONTROLLED)
# =========================
models/*
!models/random_forest_model.pkl
!models/regression_model.pkl
!models/lstm_model.h5
!models/lstm_feature_scaler.pkl
!models/lstm_target_scaler.pkl

# =========================
# OS junk
# =========================
.DS_Store
Thumbs.db

# =========================
# Frontend (React / Node)
# =========================
node_modules/
build/
dist/

# =========================
# IDE
# =========================
.vscode/