# =========================
# Virtual env
# =========================
venv/
.env

# =========================
# Python cache
# =========================
__pycache__/
*.pyc

# =========================
# Models (VERY IMPORTANT)
# =========================
models/
*.pkl
*.h5

# =========================
# OS junk
# =========================
.DS_Store
Thumbs.db

# =========================
# Frontend (React / Node)
# =========================
node_modules/
build/
dist/

# =========================
# IDE
# =========================
.vscode/
